<div id="<%= dom_id item %>">
  <p>
    <strong>Title:</strong>
    <%= item.title %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= item.link %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= item.status %>
  </p>

</div>
